---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-fucqkw","location":"eastus","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw","name":"asotest-rg-fucqkw","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-sqlserver-mtsojo","properties":{"administratorLogin":"myadmin","administratorLoginPassword":"{PASSWORD}","version":"12.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertLogicalServer","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/f8978f44-bb68-4625-87ac-c762fcbe7c19?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverOperationResults/f8978f44-bb68-4625-87ac-c762fcbe7c19?api-version=2021-11-01
      Retry-After:
      - "1"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/f8978f44-bb68-4625-87ac-c762fcbe7c19?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"f8978f44-bb68-4625-87ac-c762fcbe7c19","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo?api-version=2021-11-01
    method: GET
  response:
    body: '{"kind":"v12.0","properties":{"administratorLogin":"myadmin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"asotest-sqlserver-mtsojo.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo","name":"asotest-sqlserver-mtsojo","type":"Microsoft.Sql/servers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"kind":"StorageV2","location":"eastus","name":"asoteststorvupbxd","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/1b3e08c6-c38a-483c-a3d8-fe9dd16571c2?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/1b3e08c6-c38a-483c-a3d8-fe9dd16571c2?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/1b3e08c6-c38a-483c-a3d8-fe9dd16571c2?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/1b3e08c6-c38a-483c-a3d8-fe9dd16571c2?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd","name":"asoteststorvupbxd","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorvupbxd.dfs.core.windows.net/","web":"https://asoteststorvupbxd.z13.web.core.windows.net/","blob":"https://asoteststorvupbxd.blob.core.windows.net/","queue":"https://asoteststorvupbxd.queue.core.windows.net/","table":"https://asoteststorvupbxd.table.core.windows.net/","file":"https://asoteststorvupbxd.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/listKeys?api-version=2021-09-01
    method: POST
  response:
    body: '{"keys":[{"creationTime":"2001-02-03T04:05:06Z","keyName":"key1","value":"{KEY}","permissions":"FULL"},{"creationTime":"2001-02-03T04:05:06Z","keyName":"key2","value":"{KEY}","permissions":"FULL"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "11999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"vulnerabilityassessments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DAFA8104287862"'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DAFA8104287862\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DAFA8104287862"'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/advancedThreatProtectionSettings/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionAzureAsyncOperation/c81b7133-f254-4b59-b1c0-bc3f61a43444?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionOperationResults/c81b7133-f254-4b59-b1c0-bc3f61a43444?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/securityAlertPolicies/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/ed9b5a7f-b8e3-44d2-89b4-def82c2070ec?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesOperationResults/ed9b5a7f-b8e3-44d2-89b4-def82c2070ec?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"asotest-firewall-hpmpki","properties":{"endIpAddress":"0.0.0.0","startIpAddress":"0.0.0.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/firewallRules/asotest-firewall-hpmpki?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/firewallRules/asotest-firewall-hpmpki","name":"asotest-firewall-hpmpki","type":"Microsoft.Sql/servers/firewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotest-pool-dqziht","properties":{"perDatabaseSettings":{"maxCapacity":100,"minCapacity":0}},"sku":{"capacity":100,"name":"StandardPool","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/elasticPools/asotest-pool-dqziht?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalElasticPool","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolAzureAsyncOperation/d73a01b8-b03d-404f-91cc-b420561594b7?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolOperationResults/d73a01b8-b03d-404f-91cc-b420561594b7?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotest-db-hnbpdp","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/databases/asotest-db-hnbpdp?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalDatabase","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/eed55692-8c18-4b05-b104-f3635c420c12?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/eed55692-8c18-4b05-b104-f3635c420c12?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-vn-gsaxis","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-gsaxis\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis\",\r\n
      \ \"etag\": \"W/\\\"f4f49656-1edf-4b3f-836c-868848bb480e\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"26155b23-3105-4515-bb91-3c9cc738e496\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2227fe31-60a8-4357-b650-403767dfd15f?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/ed9b5a7f-b8e3-44d2-89b4-def82c2070ec?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"ed9b5a7f-b8e3-44d2-89b4-def82c2070ec","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionAzureAsyncOperation/c81b7133-f254-4b59-b1c0-bc3f61a43444?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"c81b7133-f254-4b59-b1c0-bc3f61a43444","status":"Succeeded","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolAzureAsyncOperation/d73a01b8-b03d-404f-91cc-b420561594b7?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"d73a01b8-b03d-404f-91cc-b420561594b7","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/eed55692-8c18-4b05-b104-f3635c420c12?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"eed55692-8c18-4b05-b104-f3635c420c12","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/2227fe31-60a8-4357-b650-403767dfd15f?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"connectionType":"Default"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/connectionPolicies/default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpdateServerConnectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/connectionPoliciesAzureAsyncOperation/fc3000a4-cbae-4f44-b50a-d8d8ad637291?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/connectionPoliciesOperationResults/fc3000a4-cbae-4f44-b50a-d8d8ad637291?api-version=2021-11-01
      Retry-After:
      - "10"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/connectionPoliciesAzureAsyncOperation/fc3000a4-cbae-4f44-b50a-d8d8ad637291?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"fc3000a4-cbae-4f44-b50a-d8d8ad637291","status":"Succeeded","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/firewallRules/asotest-firewall-hpmpki?api-version=2021-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The requested resource of
      type ''Microsoft.Sql/servers/firewallRules'' with name ''asotest-firewall-hpmpki''
      was not found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"asotest-subnet-qmdxpo","properties":{"addressPrefix":"10.0.0.0/24","privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Disabled","serviceEndpoints":[{"service":"Microsoft.Sql"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis/subnets/asotest-subnet-qmdxpo?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-subnet-qmdxpo\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis/subnets/asotest-subnet-qmdxpo\",\r\n
      \ \"etag\": \"W/\\\"f627d782-36f7-4e5d-9c76-5bf23d790b25\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Updating\",\r\n
      \       \"service\": \"Microsoft.Sql\",\r\n        \"locations\": [\r\n          \"eastus\"\r\n
      \       ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Disabled\"\r\n
      \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/20383221-7f5c-4291-b315-389f96f54b0d?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"asotest-pool-zxajlu","properties":{"virtualNetworkSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis/subnets/asotest-subnet-qmdxpo"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/virtualNetworkRules/asotest-pool-zxajlu?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertVnetFirewallRule","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/virtualNetworkRulesAzureAsyncOperation/1322879b-f714-44b9-b811-0ca0460f7313?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/virtualNetworkRulesOperationResults/1322879b-f714-44b9-b811-0ca0460f7313?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/virtualNetworkRulesAzureAsyncOperation/1322879b-f714-44b9-b811-0ca0460f7313?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"1322879b-f714-44b9-b811-0ca0460f7313","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/elasticPools/asotest-pool-dqziht?api-version=2021-11-01
    method: GET
  response:
[...]
